@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-size: 15px;
    font-family: 'Outfit';
    margin: 0;
    padding: 0;
}
.attribution {
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

body {
    width: 99vw;
    background-color: #d5e1ef;
}

main {
    width: 300px;
    height: 420px;
    background-color: #ffffff;
    margin: 80px auto;
    border-radius: 15px;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section img {
    width: 95%;
    border-radius: 25px;
    padding: 10px 10px 0px 10px;
}
.txt1 {
    padding: 15px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 16px;
}
.txt2 {
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    padding: 0px 20px;
}
